<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<form action="/login" method="post" style="position: absolute; top:50%; left:50%; transform: translate(-50%,-50%)">
    <div>
        <label>账号：</label>
    <input type="text" name="username" /></br>
        <label>密码：</label>
    <input type="password" name="password" /> <br>
        <div style="text-align: center">
                 <input type="submit" value="Submit" />
        </div>

   </div>
</form>
</body>




</html>